{% extends 'baseX.html' %}
{% load formset_tags %}




{% block content %}

<form action="." method="POST">
{% csrf_token %}
    
    <table>

    {{ formA.nave.label_tag}}<br />
    {{ formA.nave }}<br />
    </table>

<div id="form_set">
    {% for form in formset.forms %}

            {{ form }}<br />
            
    {% endfor %}
</div>


<!--
<input type="button" value="Add More" id="add_more">
-->


<div id="empty_form" style="display:none">

       <br /> {{ formset.empty_form }}<br />

</div>

{{ formset.management_form }}




	<input type="submit" name="submit" value="Submit"/>
</form>
<button onclick="AddField()">Add Fileds</button>

<script>
function AddField() {

        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }

</script>




{% endblock %}