{% extends 'base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-sm-offset-3">

			<h1 class="lead_Custon">{{ tituloForm }}</h1>

			<form action="." method="POST">
		 	{% csrf_token %}
		 	{{ formA.as_p }}
		 	{{ formsets.management_form }}

		 	<table>
			 	{% for form in formsets %}
			 		{{ form.as_p }}
			 	{% endfor %}
		 	</table>
		 	<!--<a href="javascript:void(0)" id="add_form">Add Form</a> 
		 	<input type="button" value="Add More" id="add_more">
			-->

			<p id="demo">A Paragraph</p>

			<button type="button" onclick="myFunction()">Try it</button>

		</form>
		</div>
	</div>

{% endblock content %}


